ul style="margin-top: 10px;"
  li ng-repeat="(projectName, activityEntries) in dt.activityEntries"
    .activity-entries-project-header
      div
        | {{projectName}}
      div
        .circle
          | {{reduceActivityEntries(activityEntries)}}
      div
        i.fa.fa-file-text-o.fa-2x
        i.fa.fa-plus-circle.fa-2x style="margin-left: 10px;"
    .activity-entry ng-repeat="activityEntry in activityEntries"
      div.activity-entry-header style="display: table; margin-top: 10px; width: 100%; font-size: 16px;"
        div.activity-entry-hours style="display: table-cell; width: 10%;"
          i.fa.fa-clock-o ng-class="{overtime: isOvertime(activityEntry)}"
          span
            | {{activityEntry.Hours}}
        div style="color: #949494; display: table-cell; width: 10%;"
          | {{activityEntry.Index}}
        div.activity-entry-title style="display: table-cell;"
          | {{activityEntry.title}}
        div.copy-report
          i.fa.fa-paste
      div style="color: #949494; margin-top: 8px; margin-bottom: 10px; padding: 0 10px;"
        | {{activityEntry.Comment}}
