div ng-if="search.selectedProject && search.selectedTask && !search.hours"
  form name="enterHoursForm"
    div.hours
      div
        i.fa.fa-clock-o
      div
        input.hours placeholder="Enter time" type="number" name="hours" ng-model="hours" min="0.25" step="0.25"
    div ng-if="enterHoursForm.hours.$invalid" class="error" style="width: 100%; border: 1px solid black; padding: 5px 10px; font-size: 12px;"
      span.error ng-show="enterHoursForm.hours.$error.number" Only numbers
      span.error ng-show="enterHoursForm.hours.$error.min" Hours must be greater than 0