div ng-if="search.selectedProject && !search.selectedTask"
  div.search-tasks
    div
      input ng-model="search.queryForTasks" placeholder="Enter task"
    div
      i.fa.fa-file-text-o
  div.query-result.tasks ng-if="!isEmpty(search.tasks)"
    tabset justified="true"
      tab heading="Assigned tasks"
        ul.assigned-tasks
          li ng-repeat="task in search.tasks[0]"
            span.task-index
              | {{task.Index}}
            span.task-title
              | {{task.Title}}
      tab heading="All tasks"
        ul.all-tasks
          li ng-repeat="task in search.tasks[1]"
            span.task-index
              | {{task.Index}}
            span.task-title
              | {{task.Title}}