.arrow_box ng-if="!search.selectedProject"
div ng-if="!search.selectedProject"
  input.search-projects-and-tasks ng-model="search.queryForProjectsAndTasks" placeholder="Start typing the name of the project or task"
  ul.query-result.projects-and-tasks{
    ng-if="!isEmpty(search.projectsAndTasks)" tabindex="0"
    onmouseover="changeActive(this)"
    ui-keydown="{'13': 'chooseItem($event, search.projectsAndTasks[0].length, search.projectsAndTasks)', '38': 'uptoItem($event, search.countItems)', '40': 'downtoItem($event, search.countItems)'}"
    }
    li
      div ng-if="isEmpty(search.projectsAndTasks[0])"
        div Projects
        div
          ul
            li
              div Projects not found
      div ng-if="!isEmpty(search.projectsAndTasks[0])"
        div Projects
        div
          ul
            li{
              ng-class="{active: $index == search.selected}"
              ng-click="chooseItem($event, search.projectsAndTasks[0].length, search.projectsAndTasks)"
              ng-mouseover="setActiveClass($index)"
              ng-repeat="project in search.projectsAndTasks[0]"
              }
              div
                | {{project.Name}}
    li
      div ng-if="isEmpty(search.projectsAndTasks[1])"
        div Tasks
        div
          ul
            li
              div Tasks not found
      div ng-if="!isEmpty(search.projectsAndTasks[1])"
        div Tasks
        div
          ul
            li{
              ng-class="{active: $index + search.projectsAndTasks[0].length == search.selected}"
              ng-click="chooseItem($event, search.projectsAndTasks[0].length, search.projectsAndTasks)"
              ng-mouseover="setActiveClass($index + search.projectsAndTasks[0].length)"
              ng-repeat="task in search.projectsAndTasks[1]"
              }
              div
                span.balloon
                  | {{task.Name}}
                span.task-index
                  | {{task.Index}}
                span.task-title
                  | {{task.Title}}

            /li{
              ng-class="{active: $index + search.projectsAndTasks[0].length == search.selected}"
              ng-click="chooseItem($event, search.projectsAndTasks[0].length, search.projectsAndTasks)"
              ng-mouseover="setActiveClass($index + search.projectsAndTasks[0].length)"
              ng-repeat="activityEntry in search.projectsAndTasks[1]"
              }
              div
                span.balloon
                  | {{activityEntry.Name}}
                span class="task-index"
                  | {{activityEntry.Index}}
                span.task-title
                  | {{activityEntry.Title}}
