div.selected-project.field ng-if="search.selectedProject"
  div Project
  div
    div.test
      div
        | {{search.selectedProject.projectName}}
      div.fa.fa-times.remove-balloon ng-click="removeProject()"
div.selected-task.field ng-if="search.selectedTask"
  div Task
  div
    div.test
      div
        | {{search.selectedTask.taskTitle}}
      div.fa.fa-times.remove-balloon ng-click="removeTask()"
div.hours.field ng-if="search.hours"
  div Hours
  div
    div.test
      div
        | {{search.hours}}
      div.fa.fa-times.remove-balloon ng-click="removeHours()"
