div class="my-activity-content"
  ul.activity-entry-days
    li ng-repeat="dt in actualDateActivityEntries" class="{{dt.class}}" id="{{dt.scrollToID}}"
      .hex
      .activity-entry-date
        div
          | {{dt.date.getDate()}}
        div
          | {{getMonth(dt.date)}}
      .hours-circle ng-if="!isEmpty(dt.activityEntries)"
        .circle1
          | {{dt.hoursSum}}
      .activity-entries ng-controller="SearchController as search" ng-class="{selected: search.selectedProject}"
        div ng-if="isEmpty(dt.activityEntries)"
          = render partial: 'selected_fields'

          = render partial: 'search_projects_and_tasks'

          = render partial: 'search_tasks'

          = render partial: 'hours'

          = render partial: 'comment'

        = render partial: 'activity_entries'