<div class="auth-center">
  <%= bootstrap_flash %>

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div style="margin-top: 20px;">
        <%= f.label :email %>
        <br/>
        <%= f.text_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div style="margin-top: 20px;">
        <%= f.label :password %>
        <br/>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div style="margin-top: 20px;"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div style="float: right; margin-top: 30px;">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        <%= f.submit 'Log in', class: 'btn btn-default', style: 'margin-left: 20px;' %>
      </div>
  <% end %>
</div>