> .col-lg-3 {
  background-color: #ffffff;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  display: table-cell;
  float: none;
  padding: 0;

  @each $prefix in -moz-, -webkit-, '' {
    #{$prefix}box-shadow: -3px 0 3px rgba(182, 182, 182, 0.75);
  }

  #project-tabs {
    min-height: 200px;

    .client-with-projects {
      margin-bottom: 20px;
      margin-left: 40px;

      &:first-child {
        margin-top: 20px;
      }

      h5 {
        color: #66be8f;
        font-weight: 300;
        margin-bottom: 5px;
      }

      ul {
        -webkit-margin-after: 1em;
        -webkit-margin-before: 0;
        -webkit-margin-end: 0px;
        -webkit-margin-start: 0px;
        -webkit-padding-start: 0;
        list-style-type: none;

        li {
          color: #4d4d4d;
          font-weight: bold;
          padding-top: 3px;
          padding-right: 10px;
          font-size: 16px;

          &:hover {
            margin-bottom: 35px;
            padding-right: 0;

            > div {
              background-size: 8px 8px;
              border-color: #5cac82 transparent #5cac82 #5cac82;
              border-bottom-left-radius: 1em;
              border-style: solid;
              border-top-left-radius: 1em;
              border-width: 1px;
              color: #4d4d4d;
              padding: 2px 0;
              position: absolute;
              right: 0;
              width: 135%;
              z-index: 2;

              @each $prefix in -webkit-, -moz-, -o-, '' {
                background-image: #{$prefix}repeating-linear-gradient(-45deg, rgba(92, 172, 130, 0.7), rgba(92, 172, 130, 0.7) 1px, #99d3b5 1px, #99d3b5 6px);
              }

              > div {
                i {
                  color: #009245;
                  display: inline;
                  margin-left: 3%;
                }

                span {
                  margin-left: 16%;
                }
              }
            }
          }

          > div {
            > div {
              i {
                display: none;
              }
            }
          }
        }
      }
    }

    .nav-tabs {
      li {
        &:first-child {
          width: auto;
        }

        a {
          font-weight: bold;
        }
      }

      .ng-isolate-scope {
        a.sidebar-tab-header {
          background-color: #f3f1ee !important;
          border-radius: 0 !important;
          border-bottom: none !important;
          border-left: none !important;
          border-right: none !important;
          border-top: 2px solid #c5b7ab;
          color: #bfbebb !important;
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            border-top: 2px solid #c5b7ab;
          }

          span {
            border-bottom: 1px dashed #a3a6a8;
          }
        }

        &.active a {
          border-top: 2px solid #009245;
          background-color: #ffffff !important;
          color: #009245 !important;
          cursor: pointer !important;

          &:hover {
            border-top: 2px solid #009245;
          }

          span {
            border-bottom: none;
          }
        }
      }
    }
  }

  .sidebar-calendar > div {
    display: inline-block;
    margin-bottom: 30px;
    min-height: 390px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    width: 100%;

    div[ng-switch="datepickerMode"] {
      display: flex;
      justify-content: center;
      width: 100%;

      > table {
        width: 100%;

        thead tr {
          th {
            text-align: center;

            div {
              display: inline-block;

              &:nth-child(2) strong {
                font-size: 16px;
                text-transform: uppercase;
              }
            }
          }
        }

        &#calendar-days {
          thead tr {
            &:nth-child(2) th {
              color: #e4e4e4;
              font-weight: 300;
              padding-top: 20px;
              text-transform: uppercase;
            }
          }

          tbody tr td {
            height: 45px;
            width: 34px !important;

            &:nth-child(8) {
              border-left: 2px solid #99d3b5;
            }

            > div {
              cursor: pointer;
              height: 100%;
              min-height: 100%;
              width: 100%;

              &.weekend {
                background-color: #f3f1ee;
              }

              &.another-month {
                background-image: repeating-linear-gradient(-45deg, #dedede, #dedede 1px, transparent 1px, transparent 5px);

              }

              &.empty {
                padding: 1px;

                > div {
                  border: 1px solid #a03331;
                  border-radius: 0.3em;
                  background-color: #d06866;

                  > div {
                    color: white;
                  }
                }
              }

              &.now {
                padding: 1px;

                > div {
                  border: 1px solid #198A4F;
                  border-radius: 0.3em;
                  background-color: #4db37d;
                  color: white;

                  > div:first-child.text-info {
                    color: white;
                  }
                }
              }

              > div {
                height: 50px;

                > div {
                  &:first-child {
                    font-size: 11px;
                    padding-left: 4px;
                    padding-top: 2px;
                    text-align: left;
                  }

                  &:nth-child(2) {
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }

        &#calendar-months, &#calendar-years {
          width: 100%;

          tbody tr {
            &:first-child td {
              padding-top: 20px;
            }

            td {
              height: 30px;

              div {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}