div.field {
  display: table;
  margin-bottom: 10px;
  font-size: 12px;

  > div {
    display: table-cell;

    &:first-child {
      color: #8c9b93;
      font-weight: bold;
      text-align: right;
      text-transform: uppercase;
      width: 57px;
    }

    &:nth-child(2) {
      padding-left: 10px;

      > div {
        background-color: #4db37d;
        border: 1px solid #3e7c53;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        margin-right: 10px;
        padding: 3px 5px;
        text-shadow: 0.1em 0.1em #333;
        display: table;

        div {
          display: table-cell;

          &:nth-child(2) {
            display: table-cell;
            padding-left: 15px;
          }
        }
      }
    }
  }
}

div.search-tasks, div.hours {
  background-color: white;
  border: 1px solid #cccccc;
  display: table;
  height: 28px;
  width: 100%;

  > div {
    display: table-cell;

    input {
      -moz-appearance: none !important;
      -webkit-appearance: none !important;
      background-color: white;
      background-color: -moz-field;
      border: 1px solid white;
      font-size: 14px;
      outline-style: none;
      width: 100%;
    }
  }
}

div.search-tasks > div {
  &:first-child {
    width: 100%;

    > input {
      padding-left: 20px;
    }
  }

  &:nth-child(2) > i {
    color: #5cb988;
    padding: 0 10px;
  }
}

div.hours > div {
  &:first-child > i {
    color: #5cb988;
    padding: 0 10px;
  }

  &:nth-child(2) {
    width: 100%;
  }
}












> .col-lg-9 {
  display: table-cell;
  float: none;
  padding: 0;
  vertical-align: top;

  ul.activity-entry-days {
    margin-left: 50px;
    padding-left: 15px;

    > li {
      padding-left: 33px;
      margin-bottom: 0;
      list-style: none;
      position: relative;
      padding-bottom: 2em;

      &:after {
        content: "";
        position: absolute;
        left: -26px;
        top: 0px;
      }

      &:before {
        content: "";
        position: absolute;
        left: -16px;
        border-left: 2px solid #92cbab;
        height: 100%;
        width: 1px;
      }

      &:first-child {
        top: 30px;

        &:before {
          top: 6px;
        }

        &.now {
          padding-bottom: 4em;
        }
      }

      &:last-child:before {
        height: 6px;
      }

      .activity-entries {
        display: inline-block;
        font-size: 1.2857em;
        font-weight: 300;
        margin-left: 20px;
        margin-right: 0.5em;
        width: 98%;
        vertical-align: top;

        &.selected {
          background-color: #cce9da;
          border: 1px solid #aad4bb;
          padding: 10px;

          > div {
            margin-top: 0;

            //            > div.field {
            //              display: table;
            //              margin-bottom: 10px;
            //              width: 100%;
            //
            //              > div {
            //                display: table-cell;
            //                font-size: 12px;
            //
            //                &:first-child {
            //                  color: #8c9b93;
            //                  font-weight: bold;
            //                  text-align: right;
            //                  text-transform: uppercase;
            //                  width: 57px;
            //                }
            //
            //                &:nth-child(2) {
            //                  padding-left: 10px;
            //
            //                  > span {
            //                    background-color: #3eac72;
            //                    border-radius: 5px;
            //                    padding: 3px 5px;
            //                    text-shadow: 0.1em 0.1em #333;
            //                  }
            //                }
            //              }
            //
            //              input {
            //                width: 100%;
            //              }
            //            }
          }
        }

        > div {
          margin-top: 16px;
        }

        > ul {
          list-style-type: none;
          margin-top: 10px;

          li {
            font-size: 14px;

            > div {
              &.activity-entries-project-header {
                background-color: #cce9da;
                border: 1px solid #aad4bb;
                color: #4d4d4d;
                font-size: 16px;
                font-weight: bold;
                padding: 10px 10px;

                &:hover {
                  background-color: #eaeaea;
                  background-size: 8px 8px;
                  border: 1px solid #219f5c;

                  @each $prefix in -webkit-, -moz-, -o-, '' {
                    background-image: #{$prefix}repeating-linear-gradient(-45deg, rgba(92, 172, 130, 0.7), rgba(92, 172, 130, 0.7) 1px, #99d3b5 1px, #99d3b5 6px);
                  }

                  > div {
                    &:nth-child(2) {
                      display: inline-block;
                    }

                    &:nth-child(3) {
                      display: inline-block;
                    }
                  }
                }

                > div {
                  display: inline-block;

                  &:nth-child(2) {
                    display: none;
                    margin-left: 3%;
                  }

                  &:nth-child(3) {
                    display: none;
                    float: right;

                    i:before {
                      color: #009245;
                    }
                  }
                }
              }

              &.activity-entry {
                background-color: #ffffff;
                border-left: 1px solid #aad4bb;
                border-right: 1px solid #aad4bb;
                padding: 10px 0;

                .activity-entry-header {
                  padding: 0 10px;

                  &:hover {
                    background-color: #f3f1ee;
                    padding: 5px 10px;

                    .copy-report {
                      i {
                        cursor: pointer;
                        display: block;
                      }
                    }
                  }

                  .activity-entry-hours {
                    i {
                      color: #949494;
                      margin-right: 5px;

                      &:before {
                        font-size: 1.25em;
                      }

                      &.overtime:before {
                        color: #cd5257;
                      }
                    }
                  }

                  .copy-report {
                    display: table-cell;
                    text-align: right;
                    width: 10%;

                    i {
                      display: none;

                      &:before {
                        color: #009245;
                      }
                    }
                  }
                }
              }
            }

            &:last-child > div:last-child {
              border-bottom: 1px solid #aad4bb;
            }
          }
        }

        span.balloon {
          background-color: #4db37d;
          border: 1px solid #3e7c53;
          border-radius: 5px;
          color: white;
          font-size: 12px;
          font-weight: bold;
          margin-right: 10px;
          padding: 3px 5px;
          text-shadow: 0.1em 0.1em #333;

          span.remove-balloon {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }

      .arrow_box {
        &:after, &:before {
          right: 100%;
          border: solid transparent;
          content: " ";
          top: 40px;
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {

        }

        &:before {

        }
      }

      .hex {
        border-radius: 0.3em;
        display: inline-block;
        position: relative;
        z-index: 20;

        &:before, &:after {
          -ms-transform: scaleY(0.5774) rotate(-45deg);
          -webkit-transform: scaleY(0.5774) rotate(-45deg);
          background-color: inherit;
          border-radius: 0.3em;
          content: "";
          position: absolute;
          transform: scaleY(0.5774) rotate(-45deg);
          z-index: 1;
        }
      }

      .hours-circle {
        position: absolute;
        top: 100px;
        width: 80px;
        text-align: center;
        left: -55px;
        background-color: #f3f1ee;

        .circle1 {
          display: inline-block;
        }
      }

      .query-result {
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid #dad8d6;
        border-radius: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        font-size: 14px;
        list-style: none;
        margin: 0;
        min-width: 160px;
        position: absolute;
        text-align: left;
        z-index: 1;

        &.tasks {
          font-size: 12px;
          padding: 10px;
          width: 91%;

          ul.nav-tabs {
            border-bottom: 1px solid #d9efe3;

            li {
              width: 120px;

              &:hover {
                cursor: pointer;
              }

              &.active {
                border-bottom: 2px solid #009245;
                a {
                  color: #60bb8b;
                }
              }

              a {
                &:hover {
                  background-color: transparent;
                  color: #60bb8b;
                }

                border: none;
                color: #a6a6a6;
                font-weight: bold;
                padding: 5px 0;
                text-transform: uppercase;
              }
            }
          }

          ul.assigned-tasks, ul.all-tasks {
            list-style: none;

            li {
              cursor: pointer;

              padding: 10px 5px;

              &:first-child {
                margin-top: 10px;
              }

              &.active {
                background-color: #cce9da;
              }

              > div {
                -moz-box-sizing: border-box;
                -webkit-box-orient: vertical;
                -webkit-box-sizing: border-box;
                -webkit-line-clamp: 1;
                box-sizing: border-box;
                display: block; /* Fallback for non-webkit */
                display: -webkit-box;
                font-size: 12px;
                height: 24px;
                line-height: 2;
                overflow: hidden;
                text-overflow: ellipsis;

                span.task-index {
                  color: #949494;
                  font-size: 12px;
                  margin-right: 10px;
                }
              }
            }
          }
        }

        &.projects-and-tasks {
          padding: 0;
          width: 93.8%;

          > li {
            border-bottom: 1px solid #dad8d6;

            &:last-child {
              border-bottom: none;
            }

            > div {
              display: table;
              width: 100%;

              > div {
                &:first-child {
                  background-color: #f3f1ee;
                  color: #b0aeac;
                  display: table-cell;
                  font-size: 12px;
                  font-weight: bold;
                  padding: 10px;
                  text-align: right;
                  text-transform: uppercase;
                  width: 15%;
                }

                &:nth-child(2) {
                  display: table-cell;
                  width: 85%;

                  ul {
                    list-style-type: none;

                    li {
                      cursor: pointer;
                      height: 40px;
                      padding: 5px 10px;

                      &:last-child {
                        padding-bottom: 10px;
                        margin-bottom: 5px;
                      }

                      &.active {
                        background-color: #cce9da;
                      }

                      > div {
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        display: block; /* Fallback for non-webkit */
                        display: -webkit-box;
                        font-size: 12px;
                        height: 24px;
                        line-height: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        span.task-index {
          color: #949494;
          font-size: 12px;
          margin-right: 10px;
        }
      }

      .result-query-tasks {

        > div {
          > ul {

          }
        }
      }

      .activity-entry-date {
        color: white;
      }

      .search-projects-and-tasks {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        background-color: white;
        background-color: -moz-field;
        border: 1px solid #cccccc;
        font-size: 14px;
        height: 28px;
        margin-top: 5px;
        outline-style: none;
        padding-left: 20px;
        width: 100%;
      }

      &.weekday {
        &.empty {
          .hex {
            background-color: #d06866;
            border-left: solid 1px #a03331;
            border-right: solid 1px #a03331;
            height: 31px;
            margin: 20.21px 0 20.21px -77px;
            width: 57px;

            &:before, &:after {
              height: 40px;
              left: 8px;
              width: 40px;
            }

            &:after {
              border-bottom: solid 1.1242px #a03331;
              border-left: solid 1.1242px #a03331;
              bottom: -19px;
            }

            &:before {
              border-right: solid 1.1242px #a03331;
              border-top: solid 1.1242px #a03331;
              top: -19px;
            }
          }
        }

        &.now {
          .activity-entry-date {
            display: inline-block;
            height: 70px;
            margin-left: -69px;
            position: absolute;
            text-align: center;
            vertical-align: top;
            width: 69px;
            z-index: 1000;

            > div {
              &:first-child {
                font-size: 26px;
                font-weight: bold;
                line-height: 20px;
                margin-top: 16px;
              }

              &:nth-child(2) {
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
              }
            }
          }

          .search-projects-and-tasks {
            border: 1px solid #cccccc;
          }

          .arrow_box {
            &:after {
              border-color: rgba(136, 183, 213, 0);
              border-right-color: white;
              left: 22px;
              top: 56px;
              border-width: 9px;
              margin-top: -30px;
            }

            &:before {
              border-color: rgba(194, 225, 245, 0);
              border-right-color: #adadad;
              top: 61px;
              left: 20px;
              border-width: 10px;
              margin-top: -36px;
            }
          }

          .hex {
            background-color: #4db37d;
            border-left: solid 1px #198A4F;
            border-right: solid 1px #198A4F;
            height: 30px;
            margin: 20.21px 0 20.21px -83px;
            width: 69px;

            &:before, &:after {
              height: 49.50px;
              left: 9px;
              width: 49.50px;
            }

            &:after {
              border-bottom: solid 1.4142px #198A4F;
              border-left: solid 1.4142px #198A4F;
              bottom: -24px;
            }

            &:before {
              border-right: solid 1.4142px #198A4F;
              border-top: solid 1.4142px #198A4F;
              top: -24px;
            }
          }
        }

        .activity-entry-date {
          display: inline-block;
          position: absolute;
          vertical-align: top;
          text-align: center;
          height: 70px;
          z-index: 1000;
          margin-left: -56px;
          width: 56px;

          > div {
            &:first-child {
              font-size: 22px;
              font-weight: bold;
              line-height: 20px;
              margin-top: 16px;
            }

            &:nth-child(2) {
              font-size: 14px;
              font-weight: 300;
              text-transform: uppercase;
            }
          }
        }

        .hex {
          background-color: #4db37d;
          border-left: solid 1px #198A4F;
          border-right: solid 1px #198A4F;
          height: 31px;
          margin: 20.21px 0 20.21px -77px;
          width: 57px;

          &:before, &:after {
            height: 40px;
            left: 8px;
            width: 40px;
          }

          &:after {
            border-bottom: solid 1.1242px #198A4F;
            border-left: solid 1.1242px #198A4F;
            bottom: -19px;
          }

          &:before {
            border-right: solid 1.1242px #198A4F;
            border-top: solid 1.1242px #198A4F;
            top: -19px;
          }
        }
      }

      &.weekend {
        .activity-entry-date {
          display: inline-block;
          position: absolute;
          vertical-align: top;
          text-align: center;
          height: 70px;
          z-index: 1000;
          margin-left: -56px;
          width: 56px;

          > div {
            &:first-child {
              font-size: 22px;
              font-weight: bold;
              line-height: 20px;
              margin-top: 16px;
            }

            &:nth-child(2) {
              font-size: 14px;
              font-weight: 300;
              text-transform: uppercase;
            }
          }
        }

        .hex {
          background-color: #bfbdba;
          border-left: solid 1px #949493;
          border-right: solid 1px #949493;
          height: 31px;
          margin: 20.21px 0 20.21px -77px;
          width: 57px;

          &:before, &:after {
            height: 40px;
            left: 8px;
            width: 40px;
          }

          &:after {
            border-bottom: solid 1.1242px #949493;
            border-left: solid 1.1242px #949493;
            bottom: -19px;
          }

          &:before {
            border-right: solid 1.1242px #949493;
            border-top: solid 1.1242px #949493;
            top: -19px;
          }
        }
      }

      &.weekday.empty, &.weekend {
        .activities-entries.selected {
          margin-left: 26px;
        }

        .arrow_box {
          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-right-color: white;
            left: 22px;
            top: 56px;
            border-width: 9px;
            margin-top: -30px;
          }

          &:before {
            border-color: rgba(194, 225, 245, 0);
            top: 61px;
            left: 20px;
            border-width: 10px;
            margin-top: -36px;
          }
        }

        .query-result {
          margin-left: 6px;
        }

        .search-projects-and-tasks {
          margin-left: 6px;
        }
      }

      &.weekday.empty {
        .arrow_box:before {
          border-right-color: #d56765;
        }

        .search-projects-and-tasks {
          border: 1px solid #dc9594;
        }
      }

      &.weekend {
        .arrow_box:before {
          border-right-color: #adadad;
        }

        .search-projects-and-tasks {
          border: 1px solid #cccccc;
        }
      }
    }
  }
}