.container {
  &.main {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    height: 100%;

    .circle1 {
      min-width: 34px;
      height: 34px;
      padding: 5px;
      border: 2px solid #5cb988;
      color: #009245;

//      display: flex;
//      align-items: center;
//      justify-content: center;
      text-align: center;

      @each $prefix in -moz, -webkit-, '' {
        #{$prefix}border-radius: 17px;
      }
    }

    .circle {
      min-width: 34px;
      height: 34px;
      padding: 5px;
      border: 2px solid #5cb988;
      color: #009245;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @each $prefix in -moz, -webkit-, '' {
        #{$prefix}border-radius: 17px;
      }
    }

    @import 'col_lg_3';
    @import 'col_lg_9';
  }

  &#green-line {
    background-color: #4db37d;
    border-bottom: 1px solid #45a170;
    border-top: 1px solid #45a170;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: 1;

    @each $prefix in -moz-, -webkit-, '' {
      #{$prefix}box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    }
  }
}