.navbar {
  background-color: #e2dbd5;
  margin-bottom: 0;

  &.navbar-default {
    border: none;
  }

  .container {
    height: 55px;

    .navbar-brand {
      padding: 0;

      img {
        height: 90%;
        width: 90%;
      }
    }

    .nav {
      &.navbar-nav li {
        padding: 5px 0 0 10px;
        text-transform: uppercase;

        a {
          color: #5d6469;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      &.pull-right li {
        color: #5d6469;
        padding-top: 5px;

        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        ul.dropdown-menu {
          z-index: 2;
        }
      }
    }

    .navbar-search {
      padding: 20px 0 0 10px;
      width: 25%;

      input {
        width: 100%;
      }
    }
  }
}
