/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #f3f1ee;
}

.auth-center {
  border: 1px solid #219f5c;
  border-radius: 1em;
  padding: 20px 50px;
  text-align: center;
  width: 400px;
}

@import 'main';
@import 'navbar';


