.sidebar-calendar
  div
    div ng-switch="datepickerMode" role="application" ng-keydown="keydown($event)"
      table id="calendar-days" role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}"
        thead
          tr
            th colspan="{{7 + showWeeks}}"
              div ng-click="move(-1)" tabindex="-1"
                i class="glyphicon glyphicon-chevron-left"
              div id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" tabindex="-1"
                strong
                  | {{title}}
              div ng-click="move(1)" tabindex="-1"
                i class="glyphicon glyphicon-chevron-right"
          tr
            th ng-repeat="label in labels track by $index" class="text-center"
              small aria-label="{{label.full}}"
                | {{label.abbr}}
        tbody
          tr ng-repeat="row in rows track by $index"
            td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}" ng-click="scroll(dt.scrollToID)"
              div ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1" class="{{dt.class}}"
                div
                  div ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}"
                    | {{dt.label}}
                  div
                    | {{dt.hoursSum}}
            td class="text-center" role="gridcell" 8
#project-tabs ng-controller="SidebarProjectsController as sidebarProjects"
  tabset justified="true"
    tab heading="Active Projects"
      div class="client-with-projects" ng-repeat="(customerName, projects) in sidebarProjects.activeProjects"
        h5
          | {{customerName}}
        ul
          li ng-repeat="project in projects"
            .sidebar-project
              div
                i.fa.fa-eye-slash
                i.fa.fa-file-text-o
                i.fa.fa-plus-circle
                span
                  | {{project.Name}}
    tab heading="Hidden"
      div class="client-with-projects" ng-repeat="(customerName, projects) in sidebarProjects.inactiveProjects"
        h5
          | {{customerName}}
        ul
          li ng-repeat="project in projects"
            .sidebar-project
              div
                i.fa.fa-eye-slash
                i.fa.fa-file-text-o
                i.fa.fa-plus-circle
                span
                  | {{project.Name}}
