doctype html
html ng-app="activityTrackerApp" lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "ActivityTracker"
    = csrf_meta_tags

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    /link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"
    = javascript_include_tag 'application'

  body
    .navbar.navbar-default.navbar-static-top
      .container
        button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="#"= image_tag 'logo.png'
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li= link_to 'Tasks', '#'
            li= link_to 'My Activity', '#'
            li= link_to 'Reports', '#'
            li= link_to 'Admin', '#'
          form class="navbar-search pull-right" action=""
            input type="text" class="search-query span2" placeholder="Search"
          ul.nav.pull-right
            li.dropdown
              a.dropdown-toggle data-toggle="dropdown" href="#"
                = current_user.username
                b.caret
              ul.dropdown-menu
                li= link_to 'Log Out', destroy_user_session_path, :method => :delete
                li
                  a href="#" Hide all report comments

    .container#green-line

    .container.main ng-controller="MainController as main" ng-init="getActivityEntries()"
      .col-lg-9
        = yield
      .col-lg-3
        sidebar-nav
          = render 'layouts/sidebar'
